/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* shared Styles */
body{
  margin: 0 auto;
  max-width: 1440px;
}
.display-flex{
  display: flex;
}
.dark1-color{
  color: #131313;
}
.dark2-color{
  color: #424242;
}
.dark3-color{
  color: #727272;
}
.primary-color{
  color: #FF900E;
}
.bg1-color{
  background-color: rgba(255, 144, 14, 0.10);
}
.primary-btn{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* navbar styles */ 
.navbar{
 
 justify-content: space-between;
 align-items: center;
}
.band{
  font-weight: bold;
  font-size: 3rem;
}
.navbar-link li{
  list-style: none;
  margin-right: 40px;
}
.navbar-link a{
  text-decoration: none;
 color: #424242;
 font-weight: 600;
 font-size: 1.25rem;
}


.navbar,.banner main footer{
 max-width: 1140px;
  margin: 0 auto;
  
}
/* banner styles */
.banner{
  margin-bottom: 90px;
}


.banner-info{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom:50px;

}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  
}
.banner-description{
  font-weight: 500;
  font-size: 1rem;
}
.banner-img{
  width:100%;
 

}
/* feature team section */
.feature-section{
    align-items: center;
    margin-bottom: 130px;
    
}
.feature-team-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.feature-heading{
 margin-left: 70px;
}
.feature-heading h1{
font-size: 3rem;
font-weight: 800;
}
.feature-heading p{
margin-bottom: 32px;
}

/* Feature you will love & enjoy section   */
.feature-love-enjoy-section{
 margin-bottom: 60px;
}

.feature-heading2{
  font-weight: bold;
  font-size: 2.9rem;
  margin-left: 0px;
  border-left: 7px solid #FF900E;
  padding-left: 20px;
}
.card{
  width: 580px;
  height: 170px;
  padding: 20px;
   box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;

}
.card-title{
  font-weight: 600;
  font-size: 1.25rem;
}
#btn-years{
  font-weight: bold;
  font-size: 4rem;
}
#btn-experience{
  font-weight: 600;
  font-size: 1.5rem;
}
#years-btn{
  margin-top: -280px;
  margin-left: 30px;
}
/* facts section styles */
.facts-section{
  
}

.fact-card-container{
  
  justify-content:space-around;
    text-align: center;
  margin-top: 100px;
  margin-bottom: 180px;
}
.fact-card{
  width: 240px;
  height: 200px;
  border: 2px solid #FF900E;
 
  padding-top: 40px;
}
.fact-card h2, p{
  margin: 5px 0px;
}
.fact-card h2{
  font-size: 2.9rem;
  font-weight: 600;
  color: #424242;
}
/* sponsors section */
.sponsor-section{

 text-align: center;
 margin-bottom: 50px;


}
.sponsor-title{
  font-weight: 800;
  font-size: 2.8rem;
  
}
.sponsors-logo{
  display: flex;
  justify-content: space-around;
  margin-bottom: 130px;
}
.sponsors-logo img{
      filter: grayscale(100%);
}





/* footer section */
footer{
  height: 100px;
   background-color: rgba(255, 144, 14, 0.10);
   margin-bottom: 40px;
}
.footer-section{
  font-weight: 600;
  font-size: 1.25rem;
  color: #424242;
  text-align: center;
  padding-top: 50px;
}


/* responsive media query */
@media screen and (max-width: 576px){
  .navbar,.navbar-link{
  flex-direction: column;
  }
  .feature-section{
    flex-direction: column;
  }
  .feature-team-img{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    
  }
  .feature-love-enjoy-section{
    flex-direction: column;
  }
  .feature-love-enjoy-section img{
    width: 100%;
  }
  .feature-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
  }
  .card{
    width: 100%;
  }
.fact-card-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  margin-left: 80px;
}

.sponsors-logo{
  flex-direction: column;
  gap: 50px;
}



.footer{
  width: 100%;
}
}

/* medium devices */