/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* shared Styles */
body{
  margin: 0 auto;
  max-width: 1440px;
}
.display-flex{
  display: flex;
}
.dark1-color{
  color: #131313;
}
.dark2-color{
  color: #424242;
}
.dark3-color{
  color: #727272;
}
.primary-color{
  color: #FF900E;
}
.bg1-color{
  background-color: rgba(255, 144, 14, 0.10);
}
.primary-btn{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
/* navbar styles */ 
.navbar{
 
 justify-content: space-between;
 align-items: center;
}
.band{
  font-weight: bold;
  font-size: 3rem;
}
.navbar-link li{
  list-style: none;
  margin-right: 40px;
}
.navbar-link a{
  text-decoration: none;
 color: #424242;
 font-weight: 600;
 font-size: 1.25rem;
}


.navbar,.banner main{
 max-width: 1140px;
  margin: 0 auto;
  
}
/* banner styles */
.banner{
  margin-bottom: 90px;
}


.banner-info{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom:50px;

}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  
}
.banner-description{
  font-weight: 500;
  font-size: 1rem;
}
.banner-img{
  width:100%;
 

}
/* feature team section */
.feature-section{
    align-items: center;
    margin-bottom: 130px;
    
}
.feature-team-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.feature-heading{
 margin-left: 70px;
}
.feature-heading h1{
font-size: 3rem;
font-weight: 800;
}
.feature-heading p{
margin-bottom: 32px;
}

/* Feature you will love & enjoy section   */
.feature-love-enjoy-section{
 margin-bottom: 60px;
}

.feature-heading2{
  font-weight: bold;
  font-size: 2.9rem;
  margin-left: 0px;
  border-left: 7px solid #FF900E;
  padding-left: 20px;
}
.card{
  width: 580px;
  height: 170px;
  padding: 20px;
   box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;

}
.card-title{
  font-weight: 600;
  font-size: 1.25rem;
}
#btn-years{
  font-weight: bold;
  font-size: 4rem;
}
#btn-experience{
  font-weight: 600;
  font-size: 1.5rem;
}
#years-btn{
  margin-top: -280px;
  margin-left: 30px;
}


/* responsive media query */
@media screen and (max-width: 576px){
  .navbar,.navbar-link{
  flex-direction: column;
  }
  .feature-section{
    flex-direction: column;
  }
  .feature-team-img{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    
  }
  .feature-love-enjoy-section{
    flex-direction: column;
  }
  .feature-love-enjoy-section img{
    width: 100%;
  }
  .feature-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
  }
  .card{
    width: 100%;
  }

}